@page
@model FluentValidationDemo.Pages.Books.CreateModel

<h1>
    New Book
</h1>
<hr />
<form method="post">

    <p>
        <input asp-for="Book.Name" class="form-control" placeholder="Name" />
        <span asp-validation-for="Book.Name" class="text-danger"></span>
    </p>
    <p>
        <input asp-for="Book.Year" class="form-control" placeholder="Year" />
        <span asp-validation-for="Book.Year"  class="text-danger"></span>
    </p>

    <p>
        <input asp-for="Book.Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="Book.Price"  class="text-danger"></span>
    </p>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section scripts{

    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.bootstrapvalidator/js/bootstrapValidator.min.js"></script>
}